{% extends "base.html" %}

{% block container %}
    {% if action == 'DETAIL' %}
        <div class="jumbotron">
            {% if user.username == current_user.username %}
                <h1>Hello {{ profile|title }}!</h1>
            {% else %}
                <h2>Welcome to {{ profile|title }} profile!</h2>
            {% endif %}
            <div class="avatar">
                {% if profile.avatar %}
                    <img src="{{ url_for('static', filename='beattime/img/avatars/') }}{{ profile.avatar }}" alt="{{ profile|title }} photo">
                {% else %}
                    <img src="{{ url_for('static', filename='beattime/img/avatars/001.jpg') }}" alt="{{ profile|title }} photo">
                {% endif %}
            </div>
            <blockquote>
                {% if profile.motivation_quote %}
                    {{ profile.motivation_quote }}
                {% else %}
                    Do your best!
                {% endif %}
            </blockquote>
        </div>
        <div class="row placeholders">
            {% if boards %}
                {% for board in boards %}
                    <div class="col-xs-3 col-sm-2 placeholder">
                        <div class="board-thumbnail">
                            <h4> {{ board.title|title }}</h4>
                            {% if short_urls_allowed %}
                                <a class="circle img-responsive" href="{{ url_for('bp_board.board-detail', sequence=board.sequence) }}">#{{ board.sequence }}</a>
                            {% else %}
                                <a class="circle img-responsive" href="{{ url_for('bp_board_user.board-detail', username=user.username, sequence=board.sequence) }}">#{{ board.sequence }}</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="no-content">
                    <h4>You have not created boards yet. You can do it right now clicking on button below.</h4>
                    <a class="btn btn-primary btn-lg" href="{{ url_for('bp_board.board-create') }}" role="button">Add board</a>
                </div>
            {% endif %}
        </div>
    {% elif action == 'UPDATE' or action == 'CREATE' %}
        <div class="col-md-6 col-md-offset-3">
            <form id="profile-form" action="?" enctype="multipart/form-data" role="form" method="post">
                <div class="form-group">
                    <h4>User data</h4>
                    {{ form.csrf_token }}
                    {% for field in form if field.id != 'csrf_token' %}
                        {% if field.type == 'SubmitField' %}
                            {{ field(class='pull-right btn btn-primary') }}
                        {% elif field.widget.input_type == 'hidden' %}
                            {{ field }}
                        {% else %}
                            <div class="form-group">
                                {{ field.label }}
                                {{ field(class='form-control') }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    {% endif %}
{% endblock container %}

{% block footer %}
    <footer>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% if action == 'DETAIL' %}
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{{ url_for('bp_board.board-create') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create new board
                        </a>
                        <a class="btn btn-default" href="{{ url_for('bp_profile.friends-list') }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            My Friends
                        </a>
                        <a class="btn btn-default" href="{{ url_for('bp_profile.profile-update') }}">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            Update profile
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{{ url_for('bp_board_user.board-create', username=user.username) }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Create new board
                        </a>
                        <a class="btn btn-default" href="{{ url_for('bp_profile_user.friends-list', username=user.username) }}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ user.username|title }} Friends
                        </a>
                    {% endif %}
                {% elif action == 'UPDATE' %}
                    {% if short_urls_allowed %}
                        <a class="btn btn-default" href="{{ url_for('bp_profile.profile-detail') }}">
                    {% else %}
                        <a class="btn btn-default" href="{{ url_for('bp_profile_user.profile-detail', username=user.username) }}">
                    {% endif %}
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            Cancel
                        </a>
                    <button form="profile-form" class="btn btn-default">
                        Save profile
                    </button>
                {% elif action == 'CREATE' %}
                    <button form="profile-form" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        Create profile
                    </button>
                {% endif %}
            </div>
        </div>
    </footer>
{% endblock footer %}